body{
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
}


.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: red;
    background-image: linear-gradient(to top, red 0%, yellow 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
}

.icon {
    margin-right: 8px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: right;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    position: relative;
    top: 50%;
    right: 30px;
    transform: translate(0%, -50%);
    padding-left: 30px;
    color: white;
    font-size: 24;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    text-wrap: nowrap;
     
}

.hoverLink {
    width: fit-content;
    height: fit-content;
    transition: all 0.15s ease-in;
    background-color: transparent;
}

.hoverLink:hover {
    color: orangered;
}
.navbar_btn {
    position: relative;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    height: 100%;
    width: max-content;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(255, 69, 0);
    color: white;
}

.button:hover { 
    background: blueviolet;
    transition: all 0.5s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        max-width: fit-content;
        z-index: 1;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5 ease;
        height: 50px;
        z-index: -1;
        background: black;
    }

    .navbar_menu.active {
        background: rgb(0, 0, 0);
        top: 100%;
        left: 0;
        opacity: 1;
        transition: all 2.5 ease;
        height: 50vh;
        position: center;
        font-size: 25px;
        align-items: center;
    }

    #navbar_logo {
        padding-left: 25px;
        padding-right: 50px;
        }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: white;

    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 32p;
        width: 100%;
        display: table;

    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 32px;
        right: 10px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: max-content;
        margin: 0;
        right: -100;
        position: center;
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
        transition: all 0.2 ease-in-out;
    }
    
    #mobile-menu.isactive .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }
    
        #mobile-menu.isactive .bar:nth-child(2) {
            opacity: 0;
        }
    
    #mobile-menu.isactive .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
}

/*video button*/
.video1{
    height: auto;
    width: 2000px;
}

#VBscroll {
    transition: all 100ms ease-in-out;
    
}

.vidbutton {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: grid;
    display: none;
    opacity: 0;
    width: fit-content;
    font-size: 80px;
    color: rgb(71, 71, 71);
}

.videobutton{
    height: 100px;
    width: 63px;
    transform: translate(920px, -350px) rotate(45deg);
    z-index: 1;
    opacity: 0;
    
}

.aboutMeSeciton.active {
    background: rgb(0, 0, 0);
    opacity: 0.1;
    transition: all 2.5 ease-in-out;
    transform: translate(400);
}

#aboutMeSeciton.isactive .aboutme_section:nth-child(1) {
    transform: translate(200px) ;
}

    #aboutMeSeciton.isactive .aboutme_section:nth-child(2) {
        opacity: 1;
    }

#aboutMeSeciton.isactive .aboutme_section:nth-child(3) {
    transform: translate(80px);
}

/*about me*/
.aboutme_section{
    position: relative;
    width: screen;
    height: 300px;
    transform: translate(0px, -300px);
    background-color: rgb(0, 0, 0);
    bottom: 0px;
}

.aboutme_header{
    position: relative;
    font-size: 54px;
    color: rgb(255, 255, 255);
    padding-left: 800px;
    background-color: red;
    width: 100%;
}

.aboutme{
    position: relative;
    transform: translate(5%, 5%);
    width: 90%;
    height: 200px;
    background-color: rgb(88, 88, 88);
    color: white;
    border-radius: 7px;
    border-width: 4px;
    border-color: #c91919;
    border-style: solid;
}

.aboutmetxt{
    padding: 5px;
    font-size: 25px;
    background: none;
}

/*projects section*/
.projects{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #c91919;
}

.projects_header{
    color: white;
    background-color: transparent;
    position: absolute;
    text-align: center;
    transform: translate(800px, 10px);
    font-size: 60px;
    width: screen;
}

.imagedescriptiontext{
    background-color: transparent;
}


.image_1{
    scale: 0.3;
    transform: translate(-700px, -500px);
    position: absolute;
}



.img1desc {
    float: right;
    position: absolute;
    transform: translate(46px, 0px);
    font-size: 49px; 
    text-align: center;
    font-weight: bold;
    padding: 2%;
    width: 800px;
    height: 800px;
    background-color: #444444;
    border-radius: 5%;
    border-width: 15px;
    border-style: outset;
    border-color: #c91919;
}

.image_2{
    scale: 0.955;
    transform: translate(466px, 400px);
    position: absolute;
    background-color: transparent;
}

.img2desc{
    scale: 0.315;
    float: right;
    position: absolute;
    transform: translate(-820px, -775px);
    font-size: 49px; 
    text-align: center;
    font-weight: bold;
    padding: 3%;
    padding-top: 6%;
    width: 800px;
    height: 800px;
    background-color: #444444;
    border-radius: 5%;
    border-width: 15px;
    border-style: outset;
    border-color: #c91919;
}