.button {
    background-color: rgb(102, 178, 255);
    border: none;
    color: rgb(255, 0, 0);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    font-size: 45px;
    user-select: none;
    cursor: pointer;
}

